<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<link rel="stylesheet" href="./css/bootstrap.css" media="screen">
			<link href="./bootstrap.min.css" rel="stylesheet">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		</head>
		<body>
			
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Richie Castellanes</a>
					</div>
					
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/About/">About <span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="/Projects/">Projects <span class="sr-only">(current)</span></a></li>
							<li class="dropdown">
							</li>
						</ul>
					</div>
				</div>
			</nav>
				
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<link rel="stylesheet" type="text/css" href="/css/main.css">
	    			<ul>
					<br>
					<br>
					<li><a href="mailto:richcast@gmail.com"><i class="svg-icon email"></i></a></li>
	        			<li><a href="https://facebook.com/richie.castellanes"><i class="svg-icon facebook"></i></a></li>
	        			<li><a href="https://twitter.com/richcast"><i class="svg-icon twitter"></i></li>
	        			<li><a href="https://instagram.com/richcast"><i class="svg-icon instagram"></i></a></li>
	        			<li><a href="https://linkedin.com/in/richiecastellanes"><i class="svg-icon linkedin"></i></a></li>
	        			<li><a href="https://github.com/rcastellanes"><i class="svg-icon github"></i></a></li>
				</ul>
				<!-- google analytics -->
				{% include analytics.html %}
				</link>
			</footer>
		</body>
	</html>
