<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- google analytics -->
			{% include analytics.html %}	
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/projects/">Projects</a></li>
				<script>/*<li><a href="/blog/">Blog</a></li>?>*/</script>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:richcast@gmail.com">email</a></li>
	        		<li><a href="https://facebook.com/richiecastellanes">facebook</a></li>
	        		<li><a href="https://twitter.com/richcast">twitter</a></li>
	        		<li><a href="https://instagram.com/richcast">instagram</a></li>
	        		<li><a href="https://linkedin.com/in/richiecastellanes">linkedin</a></li>
	        		<li><a href="https://github.com/rcastellanes">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
