<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Richie Castellanes</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/about/">About <span class="sr-only">(current)</span></a></li>
							<li><a href="/projects/">Projects</a></li>
						</ul>
					</div>
				</div>
			</nav>
				
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:richcast@gmail.com"><i class="svg-icon email"></i></a></li>
	        		<li><a href="https://facebook.com/richie.castellanes"><i class="svg-icon facebook"></i></a></li>
	        		<li><a href="https://twitter.com/richcast"><i class="svg-icon twitter"></i></li>
	        		<li><a href="https://instagram.com/richcast"><i class="svg-icon instagram"></i></a></li>
	        		<li><a href="https://linkedin.com/in/richiecastellanes"><i class="svg-icon linkedin"></i></a></li>
	        		<li><a href="https://github.com/rcastellanes"><i class="svg-icon github"></i></a></li>
				</ul>
				<!-- google analytics -->
				{% include analytics.html %}	
			</footer>
		</body>
	</html>
